/* Header */
.navbar{
    display: flex;
    justify-content: space-between;
}

.logo{
    height: 30px;
    padding: 3px 10px;
}

/* main Sections each project page*/
.project{
    display: flex;
    justify-content:space-between;
    padding: 3rem;
    height: 100vh;
}

.project-img img{
    max-width: 800px;
}

.project-title{
    padding-bottom: 2rem;
}
.project-content{
    max-width: 420px;
    padding-left: 15px;
}

.project-description{
    padding-bottom: 1rem;
}

.bronder{
    background-color: #D6A947;
}

.portfolio{
    background-color: #EADDCF;
}
 

