html,
body{
    background-color: #fffffe;
    font-family: "Tsukushi A Round Gothic", "Zen Maru Gothic";
    width: 100%;
    height: 100%;
}

/* Header */
.navbar{
    display: flex;
    justify-content: space-between;
}

.logo{
    height: 30px;
    padding: 3px 10px;
}

/* main Sections each project page*/
.project-title{
    padding-bottom: 2rem;
}

.project-content{
    max-width: 420px;
    padding-left: 15px;
}

.project-description{
    padding-bottom: 1rem;
}

.bronder{
    background-color: #D6A947;
}

.portfolio{
    background-color: #EADDCF;
}
 

/* Responsive layout */
@media screen and (max-width: 1124px){
    .project {
        padding: 2rem;
    }

    .project-img img{
        max-width: 60vw;
    }
}

@media screen and (max-width: 768px){
    .project {
        display: block;
    }

    .project-img img{
        max-width: 100%;
    }

    .project-title{
        padding: 2rem 0;
    }

    .project-content{
        max-width: 90%;
        padding-left: 15px;
    }
}

@media screen and (max-width: 480px){
    .navbar .logo{
        width: 100%;
    }

    .logo img{
        width: 80%;
        margin-left: 10px;
        margin-top: 20px;
        padding: 0;
    }
    
    .section {
        display: block;
    }

    .project-title{
        padding: 1rem 0;
        font-size: 1.1rem;
    }

    .project-content{
        max-width: 90%;
        padding-left: 8px;
    }

}